* {padding: 0; margin: 0;}
body {background-color: rgb(13, 23, 34);}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}

.element {
    margin: 10px;
}

button.button1 {
    border: 0;
    outline: none;
    font-size: 14px;
    background: white;
    color: #166cea;
    padding: 14px;
    cursor: pointer;
    border-radius: 25px;
}

button.button1:hover {
    color: #166cea;
    background: rgb(223, 223, 223);
}

button.button2 {
    border: 0;
    outline: none;
    font-size: 14px;
    background: #166cea;
    color: white;
    padding: 14px;
    cursor: pointer;
    border-radius: 25px;
}

button.button2:hover {
    color: white;
    background: #0351c5;
}

.core_container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5vw;
}

.core_container a {
    color: white;
    text-decoration: None;
}

/* 뱅글뱅글 돌아가는 애니메이션 */
@keyframes calendar-ani {
    to {
        background-position: -1620px 0;
    }
}
.image {
    width: 250px;
    height: 250px;
    background: url('../images/3d_calendar.png') no-repeat 0 0 / auto 250px;
    animation: calendar-ani 4s infinite steps(6);
}

button.button3 {
    outline: none;
    width: 370px;
    font-size: 20px;
    font-weight: bold;
    background: #ffb618;
    color: white;
    padding: 14px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
}

button.button3:hover {
    color: white;
    background: #eca60e;
}

.last_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #999;
    margin: 20px;
    margin-left: 45px;
    margin-right: 25px;
}

/* 흔들리는 애니메이션 */
@keyframes shake {
    0% { transform: rotate(0deg)}
    25% { transform: rotate(-8deg)}
    50% { transform: rotate(8deg)}
    75% { transform: rotate(-8deg)}
    100% { transform: rotate(0deg)}
}

.shake-image:hover {
    animation-name: shake;
    animation-duration: 1s;
}

