* {margin: 0; padding: 0; box-sizing: border-box;}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(13, 23, 34);
}

.signup-form {position: relative; z-index: 2;}
.signup-form h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.signup-form a { color: white; text-decoration: none;}

.int-area {
  width: 400px; 
  position: relative;
  margin-top: 20px;
  color: white;
}

.int-area:first-child {margin-top: 0;}
.int-area input{
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: white;
}

.int-area label {
  position: absolute; 
  left: 10px; 
  top: 15px;
  font-size: 16px;
  transition: all .5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px; 
  color: #166cea;
}

.btn-area {margin-top: 30px;}
.btn-area button{
  width: 100%; 
  height: 50px;
  background: #166cea;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.caption {
  margin-top: 20px;
  text-align: center;
  font-size: 15px; 
  color: #999;
  text-decoration: none;
}